.banner{
    background-image: url('../../../assets/img/tabor.jpg');
    height: 500px;
    width: auto;
    background-position: center;
    
}

.banner h1 {
    background-color:none;
    font-weight: bold;
    font-size: 25px;
    

}
.content a{
    text-decoration: none;
    background-color:darkgray;
    color: rgb(13, 13, 15);
    padding: 1px 1px;
    border-radius: 25px;
   
}